body{
    color: #ffffff;
    background-color: #fff0db;
}

a{
    color: #ffffff;
}


.Main{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
}

.leftMenu{
    font-family: "courier";
    font-size:calc(16px * 1vw);
    text-align: center;
    color: #ffffff;
    background-color: #dba39a;
    box-sizing: border-box;
    height: 100vh;
    top:0;
    position: sticky;
    overflow-x: hidden;
    grid-column: 0;
    grid-row: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 300px 50px 50px;
}

.rightMenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#link{
}

.dropdown-content{
    color: #000000;
    background-color: #ffffff;

}

#dropdown1{
    color: #000000;
}

.dropdown-trigger.btn{
    color: #ffffff;
    background-color: #dba39a;
}


.Description{

}

.Text{
    background-color: #ffffff;
    width: 80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

.homePage{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.homeTitle{
    text-align: center;

}

.Welcome{
    color: #dba39a;
    text-align: center;
}

.FAQpage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.faq{
    font-family: "Futura";
    font-style: italic;
    font-size: 75px;
    font-weight: bold;
    color: #a94747;
    text-align: center;

}

.QA{
    color: #dba39a;
}