body{
    background-color: #fff0db;
}

.Main{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: auto;
}

.leftMenu{
    background-color: #dba39a;
    grid-column: 0;
    grid-row:0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px auto 50px 50px;
}

.box{
    border: 1px solid black;
    padding: 5px;
}


.dropdown-content{
    background-color: #white;
}





.nbtn:hover{
    background-color: red;
    transition: background-color 350ms;
}

